

header {
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: 'Sigmar One', cursive;
    font-size: 40px;
    margin-left: 400px;
    color: yellow;
    
}


main {
    display: block;
    padding-top: 100px;
   
}

.animals img {
    width: 30vw;
    height: 30vw; 
    border-radius: 15%;
    margin: 15px;

}

body{
    background-color: blue;
    
}
